#content {
    max-width: 300px;
    margin: 0;
}
#hero {
    padding-bottom: 30px;
    
}
main h1, h4, p {
    text-align: center;
}
p {
    padding: 0px 20px 50px; 
    text-align: justify;
}
.page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(60, 60, 227);
    column-gap: 5px;
    height: 90px;
}
.read {
    margin-top: 15px;
    text-align: center;
    line-height: 0.3em;
    border-right: 1px solid white;
}
.views {
    margin-top: 15px;
    text-align: center;
    line-height: 0.3em;
    border-right: 1px solid white;
}
.comments {
    margin-top: 15px;
    text-align: center;
    line-height: 0.3em;
}
h4 {
    color: #A3B18A;
}
body {
    background-color: whitesmoke;
}


